{% extends "base.html" %}
{% block title %}Sign Up{% endblock %}
{% block contant %}

<div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12 "></div>
    <div class="col-md-6 col-sm-4 col-xs-12 bgColor mt-5 border rounded">
      <h3 class="textColor text-center mt-5">Create Account</h3>
      <hr class="bgColor2" />
      <form class="textColor" method="POST">
        <div class="row mb-3">
          <div class="col-md-6 col-sm-6 col-xs-12 bgColor">
            <label class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              aria-describedby="emailHelp"
              placeholder="Enter email"
              name = "email"
            />
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12 bgColor">
            <label class="form-label">User Name</label>
            <input
              type="text"
              class="form-control"
              aria-describedby="usernamelHelp"
              placeholder="Enter username"
              name = "username"
            />
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6 col-sm-6 col-xs-12 bgColor">
                <label class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  aria-describedby="passwordHelp"
                  placeholder="password"
                  name = "password1"
                />
              </div>
          <div class="col-md-6 col-sm-6 col-xs-12 bgColor">
            <label class="form-label">Password</label>
            <input
              type="password"
              class="form-control"
              aria-describedby="passwordHelp"
              placeholder="password"
              name = "password2"
            />
          </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12 col-sm-6 col-xs-12 bgColor">
              <label class="form-label">Contact</label>
              <input
                type="text"
                class="form-control"
                aria-describedby="contactHelp"
                placeholder="Contact"
                name = "contact"
              />
            </div>
        </div>
        <div align = "center">
            <button class="btn btn-primary" type = "submit">Login</button>
          </div>
      </form>
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12 "></div>
  </div>
  </div> 
<!-- 


<form method = "POST">
    <h3 align = "center">Create Account!!!</h3>
    <div class = "form-group">
        <label for = "email">Email Address</label>
        <input 
            type = "text" 
            id ="email" 
            name = "email" 
            class = "form-control" 
            placeholder=" Enter Email "
        />
        <label for = "email">User Name</label>
        <input 
            type = "text" 
            id ="username" 
            name = "username" 
            class = "form-control" 
            placeholder=" Enter username "
        />
        <label for = "email">Contact</label>
        <input 
            type = "text" 
            id ="contact" 
            name = "contact" 
            class = "form-control" 
            placeholder=" Enter contact "
        />
        
        <label for = "email">Password</label>
        <input 
            type = "password" 
            id ="password1" 
            name = "password1" 
            class = "form-control" 
            placeholder=" Enter Password "
    />
    <label for = "email">Password</label>
    <input 
        type = "password" 
        id ="password2" 
        name = "password2" 
        class = "form-control" 
        placeholder=" Repeat Password "
/>
    <br />
    <div align = "center">
      <button class="btn btn-primary" type = "submit">Login</button>
    </div>
  </div>
</form> -->
{% endblock %}